
        .parent_div{
            float: left;
            width: 33.33%;
            background-color: blueviolet;
        }
          
          .child_div{
            background-color: aqua;
            content: "";
            display: table;
            clear: both;
          }